<h1> Please click on a location to check in </h1>
 
   <% if @user.deliveries.length > 0   %>
 <ul>
   <li>
   <% @user.deliveries.each do |t|%>
      <a href="/deliveries/<%= t.id %>">
         <li> <%= t.location %> </li>
   </li>

      <% end %>
   </ul>
   <% else %>
     <h4> No Current Deliveries. Please Make a New Delivery, Click Link Below.  </h4>
   <% end %>
      <br/>
      <br/>
      
   <a href= "/deliveries/new"> Make a new delivery  </a>
  
