<h2> Please Login or Sign up to get started </h2>

<form method="POST" action="/login">
    Username: <input type="text" name="username"><br />
    Password: <input type="password" name="password"><br />
    <input type="submit">
</form>
 <footer class="branding">
        <h4><a href="/users/new">Signup</a></h4>
</footer>