<h1> Hello <%= @user.first_name %> this is your profile! </h1>

    <h3>First Name</h3>
    <%= @user.first_name %>
    <br/>
    <h3>Last Name</h3>
    <%= @user.last_name %>
    <br/>
    <h3>Username</h3>
    <%= @user.username %>
    <br/>
    <br/>
    <h4><a href="/deliveries">Go to Deliveries</a></h4>